@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    font-family: "Open Sans", sans-serif;

}

#navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    align-items: center;
}

#navbar .navtitle{
    margin-left: 128px;
}
.btn {
    background-color: white;
    color: rgb(0, 106, 80);
    border: 2px solid rgb(0, 106, 80);
    border-radius: 5px;
    padding: 12px 24px 12px 24px;
    font-weight: bold;
    margin: 30px 150px 30px 0px;
    cursor: pointer;
}


.hero {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 128px 0px 128px;
    
}

.btn2 {
    border: none;
    border-radius: 8px;
    color: white;
    background: rgb(0, 106, 80);
    padding: 14px 28px 14px 28px;
    cursor: pointer;
}

.hero .f-div {
    max-width: 498px;
    max-height: 269px;
    margin: 94px;
}



.bg-img {
   
    height: 320px;
    width: 380px;
    margin: 64px 80px 64px 80px;
    
}

#title-color1{
    color: rgba(14, 14, 14, 0.5);
}

#second-sec-div {
    display: flex;
    place-items: center;
    margin: 0px 120px 0px 120px;
    padding: 0px;

    
}
.box h5{
    color: black;
}
.box {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);

    max-width: 242px;
    max-height: 210px;

    font-size: 13px;

    padding: 20px;
    margin: 20px;
    color: rgba(14, 14, 14, 0.7);
}

#marginfortitle{
    margin-left: 128px;
}

#sec-third {
    /* display: block; */
    /* place-items: center; */
    margin: 0px 128px 0px 128px;
}

#sec-third p {
    font-size: 12px;
    color: rgba(14, 14, 14, 0.7);
}

#second-card{
    display: flex;
    place-items: center;
    margin: 40px 128px 30px 128px;

    
}

.card{
    box-sizing: border-box;
    border-radius: 16px;
    font-size: 12px;
    background: rgba(84, 144, 245, 0.2);
    padding: 20px;
    margin-right: 15px;
}
.card2{
    box-sizing: border-box;
    border-radius: 16px;
    font-size: 12px;
    background: rgb(198, 228, 214);
    padding: 20px;
    margin-right: 15px;
}
.card3{
    box-sizing: border-box;
    border-radius: 16px;
    font-size: 12px;
    background: rgb(247, 235, 207);
    padding: 20px;
}


.btn-com {
    padding: 8.8px 16px 8.8px 16px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;

    
}

#c1{
    background: rgb(84, 144, 245);
    cursor: pointer;
}
#c2{
    background: rgb(9, 161, 92);
    cursor: pointer;
}
#c3{
    background: rgb(255, 194, 57);
    cursor: pointer;
}

.quote  p{
    font-size: 12px;
}

.quote {
    padding: 20px 10px 20px 10px;

    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

    background: rgb(255, 255, 255);
  
   background-image: url(../images/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    
    
}

#quote-sec  {
    margin: 0px 128px 0px 128px;
    
}
.com-left-right {
    margin: 20px 128px 0px 128px;
}
.com-left-right2 {
    margin: 20px 128px 0px 128px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    
}

.al-it {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;

    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: white;
}

.dropbtn {
    background-color: rgb(198, 228, 214);
    color: black;
    padding: 10px 20px;
    margin: 10px;
    font-size: 12px;
    font-weight: bold;

    cursor: pointer;

    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;

    background: rgb(198, 228, 214);

}
.font-b {
    font-weight: 900;
    padding: 0px;
    margin: 0px;
}
.font-s {
    font-size: 12px;
    color: rgba(14, 14, 14, 0.7);
}


.boxing {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 950px;
    height: 320px;
    padding: 25px;
    border: 1px solid gray;
    border-radius: 24px;

    background: rgb(255, 255, 255);
}

.fix-card {
    padding: 0px 0px 0px 20px;
    
}

.fix-card p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 12px;
    
}

#img-round img{
    border-radius: 24px;
}

.btn3 {
    background-color: rgb(0, 106, 80);
    color: white;
    border: 2px solid rgb(0, 106, 80);
    border-radius: 5px;
    padding: 12px 24px 12px 24px;
    font-weight: bold;
    margin: 30px 150px 30px 20px;
    cursor: pointer;

}

.al-it-center{

    text-align: center;
    margin: 0px 128px 0px 128px;

}

.al-it-center p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 12px;
}


.btn4 {
    
    background-color: white;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 12px 24px 12px 24px;
    font-weight: bold;
    margin: 30px 20px 30px 20px;
    cursor: pointer;

}

.btn5 {
    
    background-color: rgb(198, 228, 214);
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 12px 24px 12px 24px;
    font-weight: bold;
    margin: 30px 20px 30px 20px;
    cursor: pointer;

}

.fix-w{
    width: 820px;
    margin: 0px 32px;
    background-color: white;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 12px 24px 12px 24px;
}


.al-it-center1{

    text-align: center;
    margin: 0px 128px 0px 240px;

}

.btn6 {
    color: white;
    border: 2px solid rgb(0, 106, 80);
    border-radius: 0px 8px 8px 0px;

    background: rgb(0, 106, 80);

    padding: 12px 24px 12px 24px;
    font-weight: bold;
    margin: 30px 150px 30px   0px;
    cursor: pointer;

}

.input-btn{
    padding: 0px 0px 0px 20px;
    border: 1px solid gray;
    border-radius: 8px 0px 0px 8px;

    background: rgb(255, 255, 255);
    width: 480px;
    height: 44px;

}

.al-it-center2 {
    width: 1024px;
    height: 316px;
    place-items: center;
    text-align: center;
    padding: 64px 0px 0px 0px;
    margin: 0px 128px 0px 128px;
    border-radius: 24px;

    background: rgb(198, 228, 214);
 

}

.al-it-center3{

    
    place-items: center;
    text-align: center;
    width: 1024px;
    height: 280px;
    padding: 40px 40px 20px 40px;
    margin: 0px 128px 0px 128px;
    border-radius: 24px;

    background: rgb(198, 228, 214);
  
}
.al-it-center2  p{

    margin-left: 50px;
    width: 600px;
    

}